/* Global Styles */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* Navbar Styles */
.navbar {
    background-color: #343a40;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.nav-link {
    color: #ffffff;
}

/* Main Content Styles */
.img-wrapper {
    float: right;
    margin-left: 20px; /* Paragraf ile fotoğraf arasında boşluk bırakmak için */
    max-width: 100%; /* Resmin maksimum genişliği paragrafın sığabileceği kadar olsun */
    display: inline-block; /* Resmin altındaki metni resmin yanında göstermek için */
}

.img-wrapper img {
    max-width: 100%; /* Resmin maksimum genişliği paragrafın sığabileceği kadar olsun */
    max-height: 100%; /* Resmin maksimum yüksekliği paragrafın sığabileceği kadar olsun */
}

@media (max-width: 768px) {
    .img-wrapper {
        float: none; /* Mobil cihazlarda fotoğraf alt alta gelmesi için */
        margin-left: 0; /* Mobil cihazlarda boşluk bırakma */
        margin-bottom: 20px; /* Mobil cihazlarda paragraf ile fotoğraf arasında boşluk bırakma */
    }
}

/* Footer Styles */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

